<%= @article.title %>
<%= @article.content %>

<form method="post" action="/articles/<%= #{@article.id} %>">
  <input id="title" name="title" />
  <input id="content" name="content" />
  <input id="submit" type="submit" />
</form>